* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dunyo-new-card {
  text-decoration: none;
  color: #000;
}
.dunyo-new-card:hover {
  color: #000;
}

.dunyo-new-card:hover .dunyo-new-card-2 h3 {
  color: #05af7e;
  text-decoration: underline;
}
.dunyo-new-card:hover .dunyo-new-card-2 p {
  text-decoration: underline;
}
.dunyo-new-card-img-wrapper {
  position: relative;
}

.dunyo-new-card:hover .dunyo-new-card-1 .dunyo-new-card-img-wrapper::before {
  content: "";
  background: rgb(0, 0, 0);
  opacity: 0.4;
  width: 100%;
  height: auto;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: 0;
  z-index: 99;
  position: absolute;
}

.dunyo-new-card-1 {
  height: auto;
  position: relative;
  margin-bottom: 20px;
}

.dunyo-new-card-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  padding: 0px 0 0px 0;
}

.dunyo-new-card-1 h3 {
  font-family: "Irvin";
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 27.1px;
  word-wrap: break-word;
}

.dunyo-new-card-1 p {
  font-family: "Raleway", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 15.71px;
  color: #777777;
  margin: 10px 0 20px 0;
}

.dunyo-new-card-1 span {
  font-family: "Raleway", serif;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
  line-height: 23.56px;
}
.dunyo-new-card-1 h6 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
  line-height: 18.33px;
  font-family: "Raleway";
  padding-bottom: 10px;
}

@media screen and (max-width: 1460px) {
  .dunyo-new-card-1 h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .dunyo-new-card-1 h3 {
    font-size: 16px;
    line-height: 21.1px;
  }

  .dunyo-new-card-1 span {
    font-size: 15px;
    line-height: 23px;
  }
}

@media screen and (max-width: 830px) {
  .dunyo-new-card-1 span {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 770px) {
  .dunyo-new-card-1 span {
    font-size: 16px;
    line-height: 18px;
    height: 100%;
  }
  .dunyo-new-card-1 h3 {
    font-size: 20px;
    line-height: 27.1px;
  }
  .dunyo-new-card-1 h6 {
    font-size: 18px;
    line-height: 22.33px;
    padding-bottom: 15px;
  }
  .dunyo-new-card {
    display: flex;
    position: relative;
  }
  .dunyo-1-h6 {
    position: absolute;
    z-index: 22;
    top: -30px;
  }
  .dunyo-new-card:hover .dunyo-new-card-1 .dunyo-new-card-img-wrapper::before {
    top: 0px;
    bottom: 0px;
  }
  .dunyo-new-card-1 {
    width: 40%;
  }
  .dunyo-new-card-img-wrapper {
    /* height: 100%; */
  }
  .dunyo-new-card-img-wrapper img {
    object-fit: cover;
    /* height: 100%; */
    object-position: center;
  }
  .dunyo-new-card-2 {
    width: 60%;
    padding-left: 20px;
  }
}

@media screen and (max-width: 540px) {
  .dunyo-new-card {
    display: block;
  }
  .dunyo-1-h6 {
    top: -30px;
  }
  .dunyo-new-card-1 {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

  .dunyo-new-card-img-wrapper {
    height: 100%;
  }
  .dunyo-new-card-img-wrapper img {
    object-fit: cover;
    height: 100%;
    object-position: center;
  }
  .dunyo-new-card-2 {
    width: 100%;
    height: auto;
    padding-left: 0px;
  }
  .dunyo-new-card-2 h3 {
    padding-top: 0px;
  }
}
@media screen and (max-width: 545px) {
  .dunyo-new-card {
    display: flex;
    flex-direction: column;
  }
  .dunyo-new-card-1 {
    width: 100%;
  }
  .dunyo-new-card-2 {
    padding-left: 0;
  }
  .dunyo-new-card-1 span {
    font-size: 13px;
    line-height: 1px;
  }
  .dunyo-new-card-1 h3 {
    font-size: 15px;
    line-height: 27.1px;
  }
  .dunyo-new-card-1 h6 {
    font-size: 18px;
    line-height: 22.33px;
    padding-bottom: 10px;
  }
  .dunyo-new-card-1 p {
    font-size: 10px;
    line-height: 5px;
    margin: 10px 0 20px 0;
  }
}

/* 
@media screen and (max-width: 650px) {
  .kun-new-card-1 h3 {
    font-size: 13px;
    line-height: 22.1px;
  }
  .kun-new-card-1 p {
    font-size: 10px;
    line-height: 12px;
    margin: 10px 0 22px 0;
  }
}

@media screen and (max-width: 580px) {
  .kun-new-card-1 h3 {
    font-size: 10px;
    line-height: 18px;
  }
  .kun-new-card-1 p {
    font-size: 8px;
    line-height: 6px;
  }
  .kun-new-card-1 h6 {
    font-size: 10px;
    line-height: 18.33px;
  }
}

@media screen and (max-width: 530px) {
  .kun-new-card {
    display: flex;
    padding-bottom: 30px;
  }
  .kun-new-card-1 {
    width: 45%;
  }
  .kun-new-card-2 {
    padding-left: 20px;
    width: 55%;
  }
  .kun-new-card-1 h3 {
    padding-top: 22px;
    font-size: 15px;
    line-height: 22px;
  }
  .kun-new-card-1 p {
    font-size: 12px;
    line-height: 16px;
  }
  .kun-new-card-1 h6 {
    font-size: 14px;
    line-height: 18.33px;
  }
}

@media screen and (max-width: 400px) {
  .kun-new-card {
    flex-direction: column;
    padding-bottom: 15px;
    width: 100%;
  }
  .kun-new-card-1 {
    width: 100%;
  }
  .kun-new-card-1 img {
    width: 100%;
  }
  .kun-new-card-2 {
    padding-left: 0;
    width: 100%;
  }
  .kun-new-card-1 h3 {
    padding-top: 0px;
    font-size: 14px;
    line-height: 22px;
  }
  .kun-new-card-1 p {
    font-size: 10px;
  }
  .kun-new-card-1 h6 {
    font-size: 14px;
  }
}
 */
