* {
  margin: 0;
  padding: 0;
}

.BottomCard {
  text-decoration: none;
  color: #000;
  width: 100%;
  display: flex;
}

.BottomCard-img-wrapper {
  width: 40%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

.BottomCard img {
  object-fit: cover;
  object-position: center;
  height: 130px;
  width: 100%;
}

.BottomCardBody {
  padding-left: 35px;
  width: 60%;
}

.BottomCard h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 28.8px;
}

.BottomCardBody p {
  padding: 16px 0;
  font-size: 12px;
  font-family: 'Raleway', serif;
  font-weight: 600;
  line-height: 15.71px;
  color: #777777;
  margin: 0;
  padding-bottom: 6px;
}

.BottomCardBody h3 {
  cursor: pointer;
}

.BottomCard-img-wrapper {
  position: relative;
}

.BottomCard:hover .BottomCardBody h3 {
  color: #05AF7E;
  text-decoration: underline;
}
.BottomCard:hover .BottomCardBody p {
  text-decoration: underline;
}

.BottomCard:hover .BottomCard-img-wrapper::before {
  content: '';
  background: rgb(0, 0, 0);
  opacity: .4;
  width: 100%;
  height: auto;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: 0;
  z-index: 99;
  position: absolute;
}

@media screen and (max-width: 1650px) {
  .BottomCard-img-wrapper {
    width: 50%;
  }
  .BottomCard img {
    height: 100%;
    width: 100%;
  }
  .BottomCardBody {
    padding-left: 35px;
    width: 50%;
  }
  .BottomCard h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .BottomCardBody p {
    padding-bottom: 0px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 1400px) {
  .BottomCardBody {
    padding-left: 20px;
  }
  .BottomCard h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .BottomCard p {
    padding: 10px 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 1250px) {
  .BottomCard-img-wrapper {
    width: 100%;
    height: 250px;
  }
  .BottomCard {
    flex-direction: column;
  }
  .BottomCardBody {
    padding-top: 20px;
    padding-left: 0px;
    width: 100%;
  }
  .BottomCard h3 {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
  }
  .BottomCard p {
    padding: 10px 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 1050px) {
  .BottomCard {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .BottomCardBody {
    width: 55% !important;
  }
  .BottomCard-img-wrapper {
    width: 45% !important;
    height: 250px;
  }
  .BottomCardBody {
    flex-direction: row;
    padding-top: 0px;
    padding-left: 20px;
    width: 75%;
  }
  .BottomCard h3 {
    width: 100%;
    font-size: 32px;
    line-height: 41px;
  }
  .BottomCard p {
    padding: 10px 0;
    padding-top: 32px;
    font-size: 16px;
  }
}

@media screen and (max-width: 770px) {
  .BottomCard h3 {
    width: 100%;
    font-size: 22px;
    line-height: 28px;
  }
  .BottomCard p {
    padding: 10px 0;
    font-size: 12px;
  }
  .BottomCard-img-wrapper {
    height: 200px;
  }
}
@media screen and (max-width: 420px) {
  .BottomCard {
    flex-direction: column;
  }
  .BottomCard img {
    width: 100%;
  }
  .BottomCardBody {
    padding: 0;
    width: 100%;
    padding-top: 20px;
  }
  .BottomCard h3 {
    font-size: 18px;
  }
  .BottomCard p {
    width: 100%;
  }
  .BottomCard-img-wrapper, .BottomCardBody {
    width: 100% !important;
  }
}
