.addcategory-form-section {
  padding: 10px 20px;
  height: 100vh;
}

.addcategory-form-wrapper {
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 10px 20px;
}

.addcategory-input {
  border: 1px solid #ddd;
}

.card-hero {
  background: #fff;
  padding: 10px;
  margin: 0;
  width: 103%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-hero-button {
  display: flex;
  align-items: center;
}

.card-hero-button button {
  margin: 0 2px;
}

.card-hero-wrapper {
  margin: 0;
  padding: 10px;
}

.category-bg-img-wrap {
  width: 200px;
  height: 100px;
}

.category-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
