.create-advert-form-wrapper {
    padding: 10px 20px;
    height: 100vh;
}

.create-advert-form {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px 20px;
}

.calendar-input {
    border: 1px solid #eee;
    padding: 10px 20px;
}

.navigation-height {
    height: 100vh;
}